* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*The background that needs to "FLASH"*/

html,
body {
    height: 100vh;
    width: 100vw;
}

.content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, black, white);
    background-size: 400% 400%;
    animation: gradientFade 8s ease infinite;
}

@keyframes gradientFade {
    0% {
        background-position: 47% 0%;
    }
    50% {
        background-position: 54% 100%;
    }
    100% {
        background-position: 47% 0%;
    }
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

h1 {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: xx-large;
    background-image: linear-gradient( to bottom, black, grey, darkgrey, gainsboro, rgb(245, 245, 245), white);
    animation: animation 4s linear infinite;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes animation {
    0% {
        background-position: 47% 0%;
    }
    50% {
        background-position: 54% 100%;
    }
    100% {
        background-position: 47% 0%;
    }
}


/*Game-container*/

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2 0 auto;
}

.game-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*footer*/

.footer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}