* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*The background that needs to "FLASH"*/

html,
body {
    height: 100vh;
    width: 100vw;
}


/*default form of the container*/

.content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, black, rgb(255, 255, 255));
    background-size: 400% 400%;
    animation: gradientFade 8s ease infinite;
}

@keyframes gradientFade {
    0% {
        background-position: 47% 0%;
    }
    50% {
        background-position: 54% 100%;
    }
    100% {
        background-position: 47% 0%;
    }
}


/*new classes to toggle whenever the player loses a life*/

.content-container-dead-five {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(255, 0, 0);
}

.content-container-dead-four {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(200, 24, 24), rgb(255, 0, 0));
    background-size: 400% 400%;
    animation: gradientFade 3s ease infinite;
}

.content-container-dead-three {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(129, 24, 24), rgb(255, 0, 0));
    background-size: 400% 400%;
    animation: gradientFade 3s ease infinite;
}

.content-container-dead-two {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(129, 24, 24), rgb(216, 23, 23));
    background-size: 400% 400%;
    animation: gradientFade 3s ease infinite;
}

.content-container-dead-one {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(65, 8, 8), rgb(233, 144, 144));
    background-size: 400% 400%;
    animation: gradientFade 3s ease infinite;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

h1 {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: xx-large;
    background-image: linear-gradient( to bottom, black, grey, darkgrey, gainsboro, rgb(245, 245, 245), white);
    animation: animation 4s linear infinite;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes animation {
    0% {
        background-position: 47% 0%;
    }
    50% {
        background-position: 54% 100%;
    }
    100% {
        background-position: 47% 0%;
    }
}


/*Game-container*/

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2 0 auto;
}

.game-text {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 90px;
    color: gold;
}


/*footer*/

.footer {
    display: flex;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 50px;
    justify-content: center;
    flex-shrink: 0;
}